* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

 :root {
  --White: #ffffff;
  --DarkOrchid: #884CDF;
  --SlateBlue: #5E56E9;
  --DeepPink: #FB397D;
  --WhiteSmoke: #F5F9FC;
  --Black: #000000;
  --DimGrey: #6B6B6B;
  --Silver: #A9A9A9;
  --Lavander: #ECDEFF;
  --LavanderBlue: #CFDAFF;
  --LavanderLightBlue: #CDE9FF;
  --MistyRose: #FFDAE7;
  --boxShadow: 0px 1px 10px rgba(0, 0, 0, 0.15);
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/static/OpenSans/OpenSans-Regular.ttf');
  font-weight: 400;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: url('/assets/fonts/static/OpenSans/OpenSans-SemiBold.ttf');
  font-weight: 600;
  font-stretch: 75% 125%;
  font-style: normal;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 19px;
}

li {
  list-style: none;
}

li a {
  color: var(--Black);
  text-decoration: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1150px;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}

.navbar.fixed {
  background: var(--White);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  z-index: 5;
}

.navbar--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.menu--list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-right: 280px;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.menu--list-item {
  margin-right: 80px;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 25px;
  width: max-content;
}

.navbar--menu-btn {
  height: 50px;
  width: 100%;
  max-width: 183px;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding: 11px 39px 12px 30px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
  background-color: var(--SlateBlue);
  border: none;
  color: var(--White);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.lang--menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 40px;
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
}
.lang {
  position: relative;
  cursor: pointer;
}
.lang li {
  position: relative;
}
.lang--dropdown-list {
  opacity: 0;
  display: none;
  transition: all 0.2s ease;
}
.lang.lang--dropdown:after {
  content: '';
  position: absolute;
  top: 6px;
  right: -15px;
  width: 8px;
  height: 8px;
  border-top: 2px solid var(--Black);
  border-right: 2px solid var(--Black);
  transform: rotateZ(135deg);
  transition:all 0.2s ease;
}
.lang--dropdown-list.show.show {
  opacity: 1;
  display: block;
  position: absolute;
}
.lang.lang--dropdown.show:after {
  top: 10px;
  right: -16px;
  transform: rotateZ(315deg);
}
.lang--dropdown-list div {
  width: 100%;
}
.lang--dropdown--list-item a {
  color: var(--Black);
  position: absolute;
  right: -1px;
  top: -3px;
  z-index: 4;
}


.header {
  overflow: hidden;
  background: url(/assets/img/main-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.header--title {
  font-weight: 600;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: 40px;
}

.header--text {
  width: 332px;
  max-width: 100%;
  margin-bottom: 60px;
}

.header--text {
  width: 332px;
  max-width: 100%;
}
.header--content-btn {
  height: 60px;
  width: 260px;
  max-width: 100%;
  border-radius: 12px;
  font-size: 20px;
  font-weight: 600;
  line-height: 27px;
  padding: 20px 40px;
  text-align: center;
  vertical-align: middle;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: var(--SlateBlue);
  border: none;
  color: var(--White);
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
}
.header--content-btn img {
  vertical-align: middle;
  margin-left: 20px;
}

.header--btn-wrapper {
  width: 550px;
  max-width: 100%;
  margin-top: 168px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.header-btn {
  width: fit-content;
  height: 50px;
  max-width: -webkit-fill-available;
  font-weight: 600;
  font-family: 'Open Sans';
  font-size: 20px;
  padding: 9px 16px;
  line-height: 27px;
  background-color: var(--White);
  border: none;
  border-radius: 12px;
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.header-btn img {
  width: 32px;
  height: 32px;
  margin-right: 5px;
}

.header--content {
  margin-top: 184px;
  padding-bottom: 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-right {
  width: 50%;
  position: relative;
}

.header--left {
  width: 50%;
}

.header-right img:nth-child(1) {
  position: absolute;
  left: -10px;
  top: 0;
  -webkit-transform: rotateZ(-14deg);
  -ms-transform: rotate(-14deg);
  transform: rotateZ(-14deg);
  width: 228px;
  height: 494px;
  z-index: 1;
}

.header-right img:nth-child(2) {
  position: absolute;
  left: 160px;
  top: -54px;
  z-index: 2;
  width: 235px;
  height: 508px;
}

.header-right img:nth-child(3) {
  position: absolute;
  left: 330px;
  top: -37px;
  z-index: 3;
  -webkit-transform: rotateZ(14deg);
  -ms-transform: rotate(14deg);
  transform: rotateZ(14deg);
  width: 235px;
  height: 508px;
}

.clients--cards-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
}


/* .clients--cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
} */

.clients--card {
  width: 362px;
  max-width: 100%;
  max-height: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  border-radius: 12px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 20px;
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

.clients--card:nth-child(3n) {
  margin: 0;
}

h2.section--title {
  font-weight: 600;
  Font-size: 32px;
  Line-height: 44px;
  text-align: center;
  vertical-align: middle;
  margin: 60px 0 40px 0;
}

.clients--card-text {
  margin-bottom: 20px;
}

.clients--card-info .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients--card-img img {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.clients--card-img {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.clients--card-info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.clients--card-info-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.clients--card-info.name {
  font-weight: 600;
  margin-bottom: 4px;
}

#case {
  overflow: hidden;
}

.case--cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  position: relative;
}

.case--card {
  width: 300px;
  max-width: 100%;
  border-radius: 12px;
  padding: 20px;
  margin-right: 30px;
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  background-color: #fff;
}

.case--card-img {
  width: 100%;
  margin-bottom: 20px;
}

.case--card-title {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  margin-bottom: 10px;
}

.case-card--industry {
  margin-bottom: 10px;
}

.case--card-text {
  margin-bottom: 20px;
}

.case--card-stack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.case--card--stack-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
}

.case--card--stack-list li {
  font-size: 12px;
  margin-right: 20px;
  padding: 4px 12px;
  background-color: var(--WhiteSmoke);
  border-radius: 12px;
}

.case--card--stack-list li:last-child {
  margin-right: 0px;
}

.case--cards-wrapper.bot {
  position: relative;
}

.case--cards-wrapper.bot:after {
  content: "";
  width: 400px;
  height: 400px;
  border-radius: 50%;
  background: var(--DarkOrchid);
  -webkit-filter: blur(180px);
  filter: blur(180px);
  position: absolute;
  z-index: -1;
  left: 100px;
  top: 30%;
}

.case--card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 260px;
  height: 50px;
  max-width: 100%;
  padding: 5px 12px;
  border: 1px solid var(--DimGrey);
  border-radius: 12px;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--White);
  color: black;
  text-decoration: none;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  word-spacing: -2px;
  margin: 0 auto;
}

.case--card-btn img {
  width: 100%;
  max-width: 20px;
  margin-left: 12px;
}

.case--cards-btn.view,
.article-btn {
  width: 100%;
  max-width: 183px;
  height: 50px;
  margin-top: 40px;
  margin-bottom: 60px;
  border: none;
  border-radius: 12px;
  background: var(--SlateBlue);
  color: var(--White);
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  padding: 12px 50px;
  cursor: pointer;
}

.service--cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.service--card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 364px;
  margin: 15px;
  padding: 20px;
  background: var(--Lavander);
  border-radius: 12px;
}

.service--card-img {
  width: 100%;
  max-width: 100px;
  margin-bottom: 20px;
}

.service--card-title {
  margin-bottom: 20px;
}

.service--card:nth-child(2) {
  background: var(--LavanderBlue);
}

.service--card:nth-child(3) {
  background: var(--LavanderLightBlue);
}

.service--card:nth-child(4) {
  background: var(--MistyRose);
}

.stack-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}

.stack--cards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 140px 30px 140px 30px 140px;
  grid-template-columns: repeat(3, 140px);
  -webkit-column-gap: 30px;
  -moz-column-gap: 30px;
  column-gap: 30px;
  row-gap: 30px;
}

.stack--card {
  width: 100%;
  min-height: 120px;
  border-radius: 12px;
  margin-right: 30px;
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stack--card-img {
  width: 50px;
  height: 50px;
  margin-bottom: 16px;
}

.stack-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.stack-img img {
  width: 100%;
}

.arcticle--cards-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.article-card {
  width: 300px;
  max-width: 100%;
  padding: 20px;
  margin-right: 30px;
  border-radius: 12px;
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

img.article--card-img {
  margin-bottom: 20px;
  border-radius: 12px;
}

.article--card-title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.article--card-info {
  margin-bottom: 10px;
  font-size: 12px;
}

.article--card-info strong {
  font-size: 14px;
}

.contact-img {
  width: 50%;
}

.contact--wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.contact--form-wrapper {
  width: 498px;
  max-width: 100%;
  border-radius: 12px;
  padding: 20px;
  background-color: var(--White);
  -webkit-box-shadow: var(--boxShadow);
  box-shadow: var(--boxShadow);
}

h2.contact--form-title {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 10px;
}

footer{
  padding-top: 60px;
  background: url(/assets/img/contact-bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
#contact {
  margin-bottom: 60px;
}
.contact--form-subtitle {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  margin-bottom: 10px;
}

form#contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
}

.input-name,
.input-text,
.input-mail {
  width: 100%;
  position: relative;
  margin-bottom: 10px;
}

input {
  width: 100%;
  padding: 15px 16px;
  border-radius: 12px;
  border: 1px solid var(--DimGrey);
}

.input-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.input-fileUpload {
  width: 10%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
}

label {
  position: absolute;
  left: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  color: var(--DimGrey);
}

#text {
  width: 99%;
  max-width: 394px;
  height: 100px;
  border-radius: 12px;
}

.input-text {
  width: 90%;
}

.input-text label {
  top: 15px;
}

#file {
  width: 45px;
  height: 45px;
  z-index: 1;
  border-radius: 50%;
  position: absolute;
  border: none;
  bottom: 10px;
  cursor: pointer;
}

input#file:after {
  content: "";
  width: 45px;
  height: 45px;
  background: url(/assets/img/clip.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 70%;
  background-color: var(--LavanderLightBlue);
  border-radius: 50%;
  display: block;
  position: absolute;
  bottom: 0px;
  left: 0px;
  z-index: 0;
}

.footer-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  -webkit-box-pack: justify;
  justify-content: space-between;
  padding: 30px 0 60px;
}

.contact--info-list {
  font-style: normal;
}
.contact--info-list img {margin-right: 10px;}
.contact--info-list li a {
  display: flex;
  justify-content: start;
  align-items: center;
}
.contact--info-list li,
.social--links-list li,
.footer--menu-list li,
.product--link-list li {
  margin-bottom: 10px;
}

#submit {
  height: 50px;
  border: none;
  border-radius: 12px;
  color: var(--White);
  background: var(--SlateBlue);
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  cursor: pointer;
}
.footer-wrapper h5 {
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
.navbar--menu-mobile {
  display: none;
}

.hamburger {
  display: none;
}
.divider {
  border-bottom: 0.5px solid var(--DimGrey);
}
@media (max-width:768px) {
  .header {
    background: url(/assets/img/main-mob-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  .navbar--menu {
    display: none;
  }
  .header--left {
    width: 100%;
  }
  .header-right {
    display: none;
  }
  .clients--cards-wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 20px
  }
  .clients--card {
    width: 100%;
    align-self: center;
}
.service--card {
  margin: 15px 0;
}
  .case--cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .case--card--stack-list {
    display: flex;
    justify-content: flex-start;
  }
  .case--card-btn {
    width: 100%;
  }
  .stack-wrapper {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .stack--cards {
    -ms-grid-columns: 1fr 10px 1fr 10px 1fr;
    grid-template-columns: repeat(3, 1fr);
    -webkit-column-gap: 10px;
    -moz-column-gap: 10px;
    column-gap: 10px;
    row-gap: 10px;
  }
  .arcticle--cards-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .article-card, .case--card {
    margin: 15px 0;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
  .contact--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .footer-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .contact-img,
  .contact-img img {
    width: 100%;
    display: none;
  }
  .hamburger:after {
    content: "";
    width: 28px;
    border-bottom: 2px solid;
    position: absolute;
    top: -5px;
    left: 0px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .hamburger:before {
    content: "";
    width: 28px;
    border-bottom: 2px solid;
    position: absolute;
    top: 5px;
    left: 0px;
    -webkit-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
  }
  .navbar {
    min-height: 50px;
    position: relative;
    width: 100%;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .hamburger.active:after {
    -webkit-transform: rotateZ(45deg);
    -ms-transform: rotate(45deg);
    transform: rotateZ(45deg);
    top: 0px;
  }
  .hamburger.active:before {
    -webkit-transform: rotateZ(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotateZ(-45deg);
    top: 0px;
  }
  .hamburger {
    display: block;
    width: 28px;
    border-bottom: 2px solid;
    position: absolute;
    right: 10px;
    top: 50%;
  }
  .hamburger.active {
    border: none
  }
  .logo {
    margin: 5px 20px;
  } 
  .navbar--menu-mobile {
    display: block;
    width: 100%;
    position: fixed;
    top: 55px;
    left: 0;
    background-color: var(--White);
    text-align: center;
    opacity: 0;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .navbar--menu-mobile.active {
    display: block;
    width: 100%;
    height: calc(100% - 520px);
    position: fixed;
    top: 60px;
    left: 0;
    background-color: var(--White);
    text-align: center;
    -webkit-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    opacity: 1;
}
  .menu--list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    margin-bottom: 40px;
}
  li.menu--list-item {
    margin: 20px 0 0 40px;
  }
  .navbar--menu-mobile .navbar--menu-btn {
    margin: 20px auto;
  }
  .navbar.fixed {
    position: fixed;
    background: var(--White);
    -webkit-box-shadow: var(--boxShadow);
    box-shadow: var(--boxShadow);
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transform: unset;
    -ms-transform: unset;
    transform: unset;
    z-index: 1;
}
  .header--btn-wrapper {
    -webkit-box-pack: left;
    -ms-flex-pack: left;
    justify-content: left;
    margin-top: 60px;
  }
  .header-btn {
    margin-right: 20px;
    margin-bottom: 20px;
}
.header--title {
  width: 260px;
  max-width: 100%;
}
.header--content {
  margin-top: 90px;
}
.footer-wrapper div {margin-bottom: 20px;}

.footer-wrapper {padding-bottom: 0;}
}